!="$('#scholarship_list').html('#{escape_javascript(render :partial => 'scholarship_list')}')"
!="$('#filter_count > span').html('#{escape_javascript(t(:scholarship_count, :count => @scholarships.size))}')"