/* line 1, ../../../app/stylesheets/default.scss */
body {
  font-family: Arial;
  font-size: 17px;
}

/* line 9, ../../../app/stylesheets/default.scss */
#content {
  width: 900px;
  margin: auto;
}

/* line 14, ../../../app/stylesheets/default.scss */
span.red_bar {
  background-color: #cc3333;
  height: 10px;
  min-height: 10px;
  min-width: 75%;
  display: inline-block;
}

/* line 22, ../../../app/stylesheets/default.scss */
span.yellow_bar {
  background-color: #ffcc33;
  height: 10px;
  min-width: 24%;
  display: inline-block;
}

/* line 29, ../../../app/stylesheets/default.scss */
#disclaimer {
  text-align: center;
  color: #990000;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
}

/* line 40, ../../../app/stylesheets/default.scss */
#colonneGauche {
  float: left;
  width: 250px;
  margin-top: 10px;
}

/* line 46, ../../../app/stylesheets/default.scss */
.filter_category_header, .collapsed, .expanded {
  background-position: right 2px;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  color: #f5f5f5;
  margin-bottom: 0px;
  -webkit-margin-before: 0px;
}

/* line 56, ../../../app/stylesheets/default.scss */
h4.nth_header {
  margin-top: 4px;
  -webkit-margin-before: 4px;
}

/* line 61, ../../../app/stylesheets/default.scss */
.filters {
  background-color: #96afc7;
  color: #00008b;
  font-size: 12px;
  font-weight: bold;
}

/* line 71, ../../../app/stylesheets/default.scss */
.filter_category_bottom {
  background-image: url(/images/filter_header_bottom.gif);
  background-repeat: no-repeat;
  margin-bottom: 2px;
}

/* line 77, ../../../app/stylesheets/default.scss */
.filter_category_top {
  background-image: url(/images/filter_header_top.gif);
  background-repeat: no-repeat;
}

/* line 82, ../../../app/stylesheets/default.scss */
.collapsed {
  background-image: url(/images/arrow_filter_header_collapsed.png);
}

/* line 87, ../../../app/stylesheets/default.scss */
.expanded {
  background-image: url(/images/arrow_filter_header_expanded.png);
}

/* line 95, ../../../app/stylesheets/default.scss */
#colonneCentreSection {
  min-width: 440px;
  float: right;
  margin-left: 5px;
}

/* line 101, ../../../app/stylesheets/default.scss */
#filter_count {
  text-align: left;
  font-style: italic;
  font-size: 12px;
}

/* line 109, ../../../app/stylesheets/default.scss */
#requester_address {
  width: 50%;
}

/* line 113, ../../../app/stylesheets/default.scss */
#form_for_scholarship_info {
  width: 645px;
}

/* line 118, ../../../app/stylesheets/default.scss */
#scholarship_list table {
  border: none;
}

/* line 123, ../../../app/stylesheets/default.scss */
.fade_in_fade_out {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 128, ../../../app/stylesheets/default.scss */
#table_header {
  text-align: center;
}

/* line 132, ../../../app/stylesheets/default.scss */
tr.scholarship {
  padding-top: 12312312px;
  padding-bottom: 12px;
}

/* line 137, ../../../app/stylesheets/default.scss */
.scholarship_odd {
  background-color: #ffffff;
}

/* line 141, ../../../app/stylesheets/default.scss */
.scholarship_even {
  background-color: #e6e6fa;
}

/* line 145, ../../../app/stylesheets/default.scss */
#info_request {
  margin-top: 6px;
  font-size: 13px;
}
/* line 151, ../../../app/stylesheets/default.scss */
#info_request .info_button {
  vertical-align: top;
  background-color: white;
}
