/* line 1, ../../../app/stylesheets/large.scss */
.titre_1 {
  font-size: 17px;
}

/* line 4, ../../../app/stylesheets/large.scss */
.titre_2 {
  font-size: 14px;
}

/* line 7, ../../../app/stylesheets/large.scss */
.normal {
  font-size: 13px;
}

/* line 10, ../../../app/stylesheets/large.scss */
.petitText {
  font-size: 12px;
}

/* line 13, ../../../app/stylesheets/large.scss */
.note {
  font-size: 11px;
}

/* line 16, ../../../app/stylesheets/large.scss */
.evidence_petitText {
  font-size: 12px;
}

/* line 19, ../../../app/stylesheets/large.scss */
.tailleTexte {
  font-size: 13px;
}

/* line 23, ../../../app/stylesheets/large.scss */
tailleTexte a, tailleTexte p, tailleTexte table {
  font-size: 13px;
}

/* line 26, ../../../app/stylesheets/large.scss */
a.liensIntra {
  font-size: 13px;
}

/* line 29, ../../../app/stylesheets/large.scss */
ol.lienQuestion {
  font-size: 12px;
}

/* line 33, ../../../app/stylesheets/large.scss */
a.liensQuestion {
  font-size: 12px;
}
/* line 35, ../../../app/stylesheets/large.scss */
a.lienNouvellesBulletin {
  font-size: 14px;
}
/* line 37, ../../../app/stylesheets/large.scss */
a.touteLesNouvelles {
  font-size: 13px;
}

/* line 40, ../../../app/stylesheets/large.scss */
.grandTitre {
  font-size: 16px;
}

/* line 43, ../../../app/stylesheets/large.scss */
.bulletin_centre_entete {
  font-size: 13px;
}

/* line 46, ../../../app/stylesheets/large.scss */
.bulletin_droite_date {
  font-size: 14px;
}
