span.red_bar{
    background-color: #cc3333;
    height: 10px;
    min-height: 10px;
    min-width: 75%;
    display: inline-block;
}

span.yellow_bar{
    background-color: #ffcc33;
    height: 10px;
    min-width: 24%;
    display: inline-block;
}

#colonneGauche{
    float: left;
    width: 250px;
}
#colonneCentreSection{
    min-width:400px;
    float: left;
}
