html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: Verdana, Lucida Sans, Tahoma, Trebuchet;
  font-size: 11px;
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  color: #333333;
  &:visited {
    color: #999999; }
  &:hover, &:active {
    color: #666666; } }

.messageErreur {
  color: #FF0000;
  font-weight: bold; }

hr {
  color: #999999;
  background-color: #999999;
  height: 2px;
  border: 0; }

form {
  margin: 0px;
  padding: 0px; }

table, tr, td {
  margin: 0;
  padding: 0;
  border: 0; }

.centrerPage {
  width: 75%;
  margin: auto;
  }

.tout {}

div {
  &#menuAdmin {}
  &#bordureTout {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc; }
  &#bandeau {
    background-color: white;
  }
  &#contenu {
    background-color: white; }
  &#entete {
    background-image: url(/images/fondEntete.gif);
    background-repeat: no-repeat;
    height: 144px;
    padding-top: 51px; }
  &#enteteErreur {
    background-image: url(/images/bandeauErreur.gif);
    background-repeat: no-repeat;
    height: 95px; } }

table#menuHaut {
  width: 742px;
  margin-left: 8px; }

td.menuHaut {
  width: 191px;
  padding-right: 6px; }

a.menuHautDroite {
  font-family: Tahoma;
  color: white;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  display: block;
  height: 18px;
  padding-top: 6px;
  padding-left: 4px;
  margin-bottom: 3px;
  background-image: url(/images/fondLienMenuComplement.gif);
  background-repeat: repeat-y;
  width: 147px;
  &:visited {
    color: white; }
  &:hover {
    background-image: url(/images/fondLienMenuComplement_surv.gif);
    background-repeat: no-repeat;
    color: white; } }

* html a.menuHautDroite {
  height: 24px; }

a {
  &.menuHautDroiteNoir {
    color: black;
    &:visited, &:hover {
      color: black; } }
  &.menuHautDroiteActif {
    background-image: url(/images/fondLienMenuComplement_acti.gif);
    background-repeat: no-repeat; } }

td.menuHautDroite {
  vertical-align: top; }

div#contenuCentral {}

table.conteneurBordure {
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; }

td {
  &.degraderGauche, &.degraderDroite {
    background-image: url(/images/degraderBordure.gif);
    background-repeat: no-repeat;
    width: 4px;
    padding: 0;
    background-color: #004173; } }

div {
  &#colonneGauche {
    float: left;
    width: 204px; }
  &.wraperGauche {
    padding-left: 6px;
    padding-right: 6px; }
  &#colonneDroite {
    float: right;
    width: 160px; }
  &.wraperDroite {
    padding-left: 7px;
    padding-right: 0px; }
  &#colonneCentreAccueil {
    margin-left: 210px;
    margin-right: 160px;
    width: 378px; } }

* html div#colonneCentreAccueil {
  margin-left: 204px; }

div#colonneCentreSection {
  margin-left: 210px;
  margin-right: 160px;
  width: 384px; }

* html div {
  &#colonneCentreSection {
    width: 366px; }
  &.wrapperCentreContenu {
    width: 523px; }
  &.wrapperCentreContenu_bulletin {
    width: 373px; } }

div {
  &#colonneCentreNouvelles {
    margin-right: 160px;
    padding-left: 6px; }
  &#colonneCentreContenu {
    margin-left: 210px;
    padding-right: 6px; }
  &#colonneCentreSimple {
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px; } }

table.ongletTitre {
  border-collapse: collapse;
  width: 100%; }

.coinGauche {
  background-image: url(/images/titre/coinHautGaucheTitre.gif);
  background-repeat: no-repeat;
  width: 8px;
  height: 25px; }

.fondTitre {
  height: 25px;
  background-image: url(/images/titre/fondTitre.gif);
  background-repeat: repeat-x;
  font-size: 14px;
  font-weight: bold;
  color: #e8ecea;
  padding-left: 2px; }

.coinDroite {
  background-image: url(/images/titre/coinHautDroiteTitre.gif);
  background-repeat: no-repeat;
  width: 8px;
  height: 25px; }

.coinGaucheBulletin {
  background-image: url(/images/titre/coinHautGaucheTitreBulletin.gif);
  background-repeat: no-repeat;
  width: 8px;
  height: 25px; }

.fondTitreBulletin {
  height: 25px;
  background-color: #2285A4;
  background-image: url(/images/titre/fondTitreBulletin.gif);
  background-repeat: repeat-x;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 2px; }

.coinDroiteBulletin {
  background-image: url(/images/titre/coinHautDroiteTitreBulletin.gif);
  background-repeat: no-repeat;
  width: 8px;
  height: 25px; }

div.texteCentre {
  width: 97%;
  margin: 0;
  padding: 4px;
  padding-bottom: 10px; }

.boiteFaq {
  width: 99%; }

div.texteGauche {
  margin: 0;
  padding: 4px; }

.boiteGauche {
  width: 192px; }

.corpsBoiteGauche {
  width: 100%;
  margin-top: 3px;
  background-color: #eeefee;
  margin-bottom: 2px; }

.coinBasGauche_BoiteGauche {
  background-image: url(/images/boiteGauche/coinBasGauche_BoiteGauche.gif);
  background-repeat: no-repeat;
  width: 8px;
  height: 8px; }

.bas_BoiteGauche {
  border-collapse: collapse;
  width: 100%; }

.basCentre_BoiteGauche {
  height: 8px;
  background-image: url(/images/boiteGauche/basCentre_BoiteGauche.gif);
  background-repeat: repeat-x; }

.coinBasDroit_BoiteGauche {
  width: 8px;
  height: 8px;
  background-image: url(/images/boiteGauche/coinBasDroit_BoiteGauche.gif);
  background-repeat: no-repeat; }

.boiteDroite {
  width: 146px; }

.corpsBoiteDroite {
  background-color: #004e8a;
  width: 100%; }

.corpsBoiteDroite_bulletin {
  width: 100%;
  margin-top: 0px;
  background-color: #E6F1F5;
  margin-bottom: 2px; }

div.texteDroite {
  padding: 4px;
  padding-left: 8px;
  color: white;
  a {
    color: white;
    &:visited {
      color: white; }
    &:hover {
      color: #cccccc; } } }

.coinBasGauche_BoiteDroite {
  background-image: url(/images/boiteDroite/coinBasGauche_BoiteDroite.gif);
  background-repeat: no-repeat;
  width: 8px;
  height: 8px; }

.bas_BoiteDroite {
  border-collapse: collapse;
  width: 100%; }

.basCentre_BoiteDroite {
  height: 8px;
  background-image: url(/images/boiteDroite/basCentre_BoiteDroite.gif);
  background-repeat: repeat-x; }

.coinBasDroit_BoiteDroite {
  width: 8px;
  height: 8px;
  background-image: url(/images/boiteDroite/coinBasDroit_BoiteDroite.gif);
  background-repeat: no-repeat; }

div#outils {
  margin-bottom: 2px;
  margin-left: 6px;
  margin-right: 6px;
  background-position: right;
  background-image: url(/images/degraderToolbar.gif);
  background-repeat: repeat-y repeat-x;
  font-size: 10px;
  height: 24px;
  text-align:center;
}

table.outils {
  height: 100%;

  td {
    vertical-align: middle;
    padding-right: 3px; } }

td.toolbarText {
  padding-left: 4px;
  color: white;
  font-size: 10px; }

a {
  &.lienFonction {
    color: white;
    text-decoration: none;
    &:visited {
      color: white;
      text-decoration: none; }
    &:hover {
      color: #cccccc; } }
  &.lienFonctionHover {
    color: #cccccc;
    text-decoration: none;
    &:hover, &:visited {
      color: #cccccc;
      text-decoration: none; } } }

div#filDarianne {
  margin: 8px 0 22px 0;
  font-size: 10px; }

a.lienToolBar {
  color: black;
  text-decoration: none;
  font-size: 9px;
  &:visited {
    color: black;
    text-decoration: none;
    font-size: 9px; }
  &:hover {
    text-decoration: underline;
    font-size: 9px; } }

.pgActive {
  font-weight: bold;
  font-size: 9px; }

.imageSansBordure {
  border: 0; }

.degraderGris {
  background-image: url(/images/degraderGris.gif);
  background-repeat: repeat-x; }

.imageBlock {
  display: block;
  padding: 0;
  margin: 0; }

.bordure {
  border: 1px solid black; }

a {
  &.engineButton {
    background-color: #009EEA;
    display: block;
    border: none;
    &:visited {
      background-color: #009EEA; }
    &:hover {
      background-color: #9DD21C; } }
  &.bandeau {
    &:link, &:visited {
      color: #000000;
      font-family: Verdana;
      font-size: 9px;
      text-decoration: none; }
    &:hover {
      color: #000000;
      font-family: Verdana;
      font-size: 9px;
      text-decoration: none;
      font-weight: bold; } }
  &.bandeauActif {
    color: #000000;
    font-family: Verdana;
    font-size: 9px;
    text-decoration: none;
    font-weight: bold;
    &:visited, &:hover {
      color: #000000;
      font-family: Verdana;
      font-size: 9px;
      text-decoration: none;
      font-weight: bold; } } }

.email {
  background-color: #F5F5F5;
  color: #3A56A6;
  font-family: "Verdana";
  font-size: 11px; }

.email-title {
  background-color: #D6D7D6;
  font-family: "Verdana";
  font-size: 11px;
  font-weight: bold; }

.email-link {
  font-family: "Verdana";
  font-size: 11px;
  color: #3A56A6;
  font-weight: normal; }

.email-content {
  font-family: "Verdana";
  font-size: 11px;
  font-weight: bold; }

div#boite {
  padding-bottom: 3px; }

.agenda {
  padding: 0 4px 0 4px; }

a.lienAgendaBulletin {
  color: #006699;
  text-decoration: none;
  font-weight: bold;
  &:hover, &:active {
    color: #006699;
    text-decoration: underline; }
  &:visited {
    color: #006699; } }

.nomRecipiendaire {
  font-size: 12px;
  font-weight: bold; }

a.lienRecipiendaire, lienRecipiendaire:visited {
  color: white; }

a.lienRecipiendaire:hover {
  color: #cccccc; }

table.boiteCommun {
  width: 100%;
  table-layout: fixed;
  overflow: hidden; }

td.boiteCommun {
  overflow: hidden;
  padding-right: 5px; }

a.lienIntra {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #999999;
    text-decoration: underline; }
  &:visited {
    color: #999999; } }

div.lienIntra, .boiteLien {
  padding-left: 8px; }

.imgGauche {
  margin-bottom: 4px; }

.imgDroite {
  margin-bottom: 5px; }

div.hautPage {
  text-align: right; }

a.lienHautFaq {
  color: #848484;
  font-size: 10px;
  text-decoration: none;
  &:visited {
    color: #848484;
    font-size: 10px;
    text-decoration: none; }
  &:hover {
    color: #616161;
    text-decoration: underline; } }

.question {}

div.lienQuestion {
  margin-top: 4px; }

a.lienQuestion {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  &:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none; }
  &:hover {
    color: #333333;
    text-decoration: underline; } }

ol.lienQuestion {
  padding-left: 22px; }

* html ol.lienQuestion {
  margin-left: 28px;
  padding-left: 0; }

a.fichier {
  font-weight: bold;
  text-decoration: none;
  &:visited {
    font-weight: bold;
    text-decoration: none; }
  &:hover {
    text-decoration: underline; } }

.infoFichier {
  color: #333333; }

.titreBoiteNouvelles {
  font-weight: bold;
  font-size: 12px;
  color: #003366;
  padding-bottom: 21px;
  padding-top: 17px; }

.dateNouvelle {
  color: #999999; }

.titreNouvelle {
  color: #003366;
  font-weight: bold; }

.ligneNouvelle {
  height: 1px;
  color: #cccccc;
  background-color: #cccccc; }

.degraderBasNouvelle {
  background-image: url(/images/degraderBasNouvelle.gif);
  background-repeat: repeat-x;
  height: 44px;
  margin-bottom: 10px; }

.degraderBasNouvelleBulletin {
  background-image: url(/images/degraderBasNouvelleBulletin.gif);
  background-repeat: repeat-x;
  height: 44px;
  margin-bottom: 10px; }

.clearBoth {
  clear: both; }

div {
  &.boiteNouvelles {
    padding-left: 10px;
    background-image: url(/images/degraderHautNouvelle.gif);
    background-repeat: repeat-x; }
  &.boiteNouvellesBulletin {
    padding-left: 10px;
    background-image: url(/images/degraderHautNouvelleBul.gif);
    background-repeat: repeat-x; } }

a.lienHaut {
  color: #666666;
  &:visited {
    color: #666666; } }

table.lienHaut {
  float: right;
  margin-right: 6px;
  text-align: center; }

.boiteResume {
  background-image: url(/images/degraderHautNouvelle.gif);
  background-repeat: repeat-x;
  padding-left: 10px;
  padding-right: 10px; }

.boiteResumeBulletin {
  background-image: url(/images/degraderHautNouvelleBul.gif);
  background-repeat: repeat-x;
  padding-left: 10px;
  padding-right: 10px; }

a.lienNouvelles {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
  &:hover, &:active {
    color: #003366;
    text-decoration: underline; }
  &:visited {
    color: #003366; } }

.ligneNouvelleAccueil {
  height: 1px;
  color: #cccccc;
  background-color: #cccccc; }

.ligneNouvelleBulletin {
  height: 1px;
  color: #0099cc;
  background-color: #0099cc; }

a.lienNouvellesBulletin {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
  &:hover, &:active {
    color: #003366;
    text-decoration: underline; }
  &:visited {
    color: #003366; } }

.chercher {
  padding-left: 8px; }

.formChercher {
  padding-left: 14px; }

.textPiedPage {
  font-size: 9px; }

div {
  &#piedDePage {
    background-color: white;
    height: 38px;
    width: 762px;
    font-size: 10px; }
  &#surPiedDePage {
    width: 100%;
    background-color: #004173; }
  &.lienSurPied {
    float: right;
    height: 100%; } }

table.lienSurPied {
  width: 100%;
  margin-right: 10px; }

td.lienSurPied {
  vertical-align: middle;
  text-align: right; }

a.lienSurPied {
  color: white;
  font-size: 11px;
  &:visited {
    color: white;
    font-size: 11px; }
  &:hover {
    color: #cccccc;
    font-size: 11px; } }

table.texteSurPied {
  margin-left: 10px;
  font-size: 9px;
  color: white; }

td.texteSurPied {
  vertical-align: middle;
  padding-right: 10px;
  a {
    color: white;
    &:visited {
      color: white; }
    &:hover {
      color: #cccccc; } } }

a.piedDePage {
  color: #999999;
  &:visited {
    color: #999999; }
  &:hover {
    color: #666666;
    text-decoration: underline; } }

td {
  &#centrePiedDePage {
    text-align: center; }
  &#signature {
    color: #999999;
    font-size: 9px;
    margin-left: 10px;
    width: 150px; } }

.clePied {
  float: right;
  padding-right: 10px; }

table.menu_Niveau2_false {
  background-color: #6e777d;
  height: 38px;
  width: 193px;
  table-layout: fixed;
  margin-bottom: 2px; }

a.menu_Niveau2_false {
  font-family: arial;
  font-weight: bold;
  font-size: 12px;
  color: white;
  display: block;
  text-decoration: none;
  width: 100%;
  margin-left: 6px;
  &:visited, &:hover {
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    color: white;
    display: block;
    text-decoration: none;
    width: 100%;
    margin-left: 6px; } }

td.puce_Niveau2_false {
  width: 24px; }

table.menu_Niveau2_over {
  background-color: #979fa4;
  height: 38px;
  width: 193px;
  table-layout: fixed;
  margin-bottom: 2px; }

a.menu_Niveau2_over {
  font-family: arial;
  font-weight: bold;
  font-size: 12px;
  color: white;
  display: block;
  text-decoration: none;
  width: 100%;
  margin-left: 6px;
  &:visited, &:hover {
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    color: white;
    display: block;
    text-decoration: none;
    width: 100%;
    margin-left: 6px; } }

td.puce_Niveau2_over {
  width: 24px; }

table.menu_Niveau2_true {
  background-color: white;
  height: 38px;
  width: 193px;
  table-layout: fixed;
  margin-bottom: 2px; }

a.menu_Niveau2_true {
  font-family: arial;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  display: block;
  text-decoration: none;
  width: 100%;
  margin-left: 6px;
  &:visited, &:hover {
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    display: block;
    text-decoration: none;
    width: 100%;
    margin-left: 6px; } }

td.puce_Niveau2_true {
  width: 24px; }

table.menuNiveau4_false {
  background-color: white;
  border-color: #999999;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  width: 193px;
  height: 30px;
  table-layout: fixed; }

a.menuNiveau4_false {
  display: block;
  width: 100%;
  color: #333333;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  &:visited {
    display: block;
    width: 100%;
    color: #333333;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold; }
  &:hover {
    font-weight: bold; } }

td.pucemenuNiveau4_false {
  width: 15px; }

table.menuNiveau4_true {
  background-color: white;
  width: 193px;
  table-layout: fixed;
  border-color: #999999;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  height: 30px; }

a {
  &.menuNiveau4_true {
    color: #999999;
    display: block;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    width: 100%;
    &:visited {
      color: #999999;
      display: block;
      font-weight: bold;
      font-size: 11px;
      text-decoration: none;
      width: 100%; } }
  &.menuNiveau4_false:hover {
    color: #999999; } }

td.pucemenuNiveau4_true {
  width: 15px; }

.lienBourse {
  color: #0099cc;
  text-decoration: underline; }

a.lienBourse {
  color: #0099cc;
  text-decoration: underline;
  &:hover, &:active, &:visited {
    color: #0099cc;
    text-decoration: underline; } }

.bulletin_centre_entete {
  color: #003366;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 11px;
  height: 15px; }

.bulletin_droite_date {
  color: #003366;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 15px;
  margin-left: 8px;
  padding-left: 7px;
  padding-right: 0px;
  height: 15px; }

.piedPageBulletin {
  font-size: 11px;
  margin-bottom: 10px; }

.top {
  vertical-align: top; }
