-content_for :colonneCentreSection do
  #filDarianne
    %a.lienToolBar{:href => "/sgc/bbaf"}> Accueil
    \&nbsp;&gt;&nbsp;
    %span.pgActive R&eacute;pertoire de bourses
    .texteCentre.tailleTexte
    %div
      %span.titre_1 Bienvenue dans le&nbsp;r&eacute;pertoire des bourses
      %div &nbsp;
      %div
        %span.titre_2 Pour effectuer une recherche
      %div &nbsp;
      %div Choississez dans le menu de gauche le cycle d’&eacute;tudes qui vous concerne, par la   suite, vous pourrez choisir de consulter les bourses :
      %ul
        %li Par date limite
        %li Par organisme donateur
        %li Par facult&eacute; - Domaines d'&eacute;tudes
        %li Par type de bourses
        %li Par mots cl&eacute;s
      %div
        %span.titre_2
          Pour vous aider &agrave; effectuer des recherches dans le r&eacute;pertoire des bourses, le   BBAF a con&ccedil;u ces deux guides :
          %br/
        %br/
        %img{:alt => "", :border => "0", :height => "16", :src => "/images/pdf.gif", :width => "16"}/
        %a.noStyle{:href => "http://www.bbaf.ulaval.ca/webdav/site/bbaf/shared/images/Fichiers joints/guide_de_recherche_general_2010.pdf", :target => "_blank"}
          %strong Guide de recherche g&eacute;n&eacute;ral
      %div &nbsp;
      %div
        %img{:alt => "", :border => "0", :height => "16", :src => "/images/pdf.gif", :width => "16"}>/
        \&nbsp;
        %a.noStyle{:href => "http://www.bbaf.ulaval.ca/webdav/site/bbaf/shared/images/Fichiers joints/guide_de_recherche_etudiants_etrangers_2010.pdf", :target => "_blank"}
          %strong Guide de recherche pour les &eacute;tudiants &eacute;trangers
    %td.degraderDroite
    \&nbsp;
  / fin contenu central