%html
  %head
    = stylesheet_link_tag '/stylesheets/compiled/default.css'
    %title
      Bureau des bourses et de l'aide financi&egrave;re - R&eacute;pertoire de bourses
  %body
    #banner
      #bar
        %span{:class => 'red_bar'}
          &nbsp;
        %span{:class => 'yellow_bar'}
          &nbsp;
      #bbaf_header
        %a{:href => "/sgc/bbaf"}
          %img{:alt => "Bureau des bourses et de l'aide financi&egrave;re (BBAF)", :border => "0", :src => "/images/titreBandeau.gif"}/

        %a.bandContent1{:href => "http://www.ulaval.ca", :target => "_blank" , :style => "float: right; padding-right: 1%" }
          %img{:alt => "Universit&eacute; Laval", :border => "0", :src => "/images/band-ulaval-logo.gif"}

    %br
    %br

    #colonneGauche
      = yield :colonneGauche

    #colonneCentreSection
      = yield :colonneCentreSection

